body {
  background-image: radial-gradient(white 5%, grey 130%);
  margin: 0px;
}

.mainPicture {
  margin: 10%;
  display: flex;
  max-width: 90%;
  height: 400px;
  background-color: white;
  box-shadow: 5px 5px #888888;
}

.item {
  min-width: 100px;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.arrowImage {
  height: 20px;
  width: 20px;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.next {
  transform: rotateY(180deg);
}