body {
  background-image: radial-gradient(white 5%, grey 130%);
  justify-content: center;
  align-content: center;
}

.mainPicture {
  margin: 20 auto;
  display: flex;
  max-width: 90%;
  max-height: 50px;
  background-color: white;
}